<div class="gamma-container gamma-loading" id="gamma-container">

  <ul class="gamma-gallery">
    {{#each pics}}
    <li>
      <div
        data-alt="{{this.file.filename}}"
        data-description="{{this.PhotoTitle}}"
        data-caption="{{this.file.description}}"
        data-size="{{this.file.width}}x{{this.file.height}}"
        data-src="/uploads/{{this.file.filename}}"
        data-exif="{{this.meta.image.Model}},{{this.meta.exif.FocalLength}},{{this.meta.exif.FNumber}},{{this.meta.exif.ISO}},{{this.meta.exif.ExposureTime}}">
        <div data-src="/uploads/{{this.file.filename}}" data-min-width="1600"></div>
        <div data-src="/uploads/{{this.file.filename}}" data-min-width="1300"></div>
        <div data-src="/uploads/images/xlarge/{{this.file.filename}}" data-min-width="1000"></div>
        <div data-src="/uploads/images/large/{{this.file.filename}}" data-min-width="700"></div>
        <div data-src="/uploads/images/medium/{{this.file.filename}}" data-min-width="300"></div>
        <div data-src="/uploads/images/small/{{this.file.filename}}" data-min-width="200"></div>
        <div data-src="/uploads/images/small/{{this.file.filename}}" data-min-width="140"></div>
        <div data-src="/uploads/images/small/{{this.file.filename}}"></div>
        <noscript>
          <img src="/uploads/images/small/{{this.file.filename}}" alt="{{this.file.filename}}"/>
        </noscript>
      </div>
    </li>
    {{/each}}
  </ul>
  <div class="gamma-overlay"></div>
</div>
